.top-middle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-weight: normal;
    font-family: 'Staatliches', cursive;
    margin-bottom: 0;
    font-size: 4vw;
}

.under-title {
    font-size: 1.5vw;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.left-text {
    float: left;
    margin-right: 2vw;
}

.right-text {
    float: right;
    margin-left: 2vw;
}

body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#bg {
    width: 100%;
    height: 100%;
    background: url('https://cdn.discordapp.com/attachments/834745908545323008/854033602282389504/2021-06-14_18.24.22.png') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    filter: blur(5px);
    -webkit-filter: blur(5px);

    -webkit-animation: fadeIn 2s;
    /* Chrome, Safari, Opera */
    animation: fadeIn 2s;

    background-position: center;
    background-repeat: no-repeat;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: black;
}